
.chatmaincontainer {
    gap: 20px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.leftchat, .rightchat {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 1rem;
    height: 100vh;
    /*border: 1px solid black;*/
}

.chatlist {
    padding-inline: 10px;
    /*display: flex;*/
    /*flex-direction: column;*/
}

/*.chatbox{*/
/*    border: 1px solid black;*/
/*}*/

/*.chatbox::-webkit-scrollbar {*/
/*    display: none;*/
/*}*/

/*.chatbox {*/
/*    border-top: 1px solid rgba(0,0,0,0.6);*/
/*}*/

.mainchatbox {
    padding-top: 15px;
    border-radius: 15px;
    padding-bottom: 15px;
    background: #F2F2F2;
}
.sendbtndash{
    transform: scale(0.8);
    position: absolute;
    right: 5px;
    top: 5px;
}
.chatsend::placeholder{
    font-size: 16px;
    color: #49454F;
}