
.chatmaincontainer {
    padding-left: 5rem;
    gap: 20px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.leftchat, .rightchat {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 1rem;
    height: 100vh;
}

.chatlist {
    padding-inline: 10px;
}
.mainchatbox {
    padding-top: 15px;
    border-radius: 15px;
    padding-bottom: 15px;
    background: #F2F2F2;
}
.sendbtndash{
    transform: scale(0.8);
    position: absolute;
    right: 5px;
    top: 5px;
}
.chatsend::placeholder{
    font-size: 16px;
    color: #49454F;
}
.messagepara{
    font-weight: 500;
}
.nav-list li div{
    cursor: pointer;
}
.nav-list1 li div{
    cursor: pointer;
}